<app-header></app-header>

<div>
  <h1>PyTypeCraft</h1>
  <h4>Contribuidores:</h4>
  <div class="contributor">
    <i class="uil uil-user-square uil-usr"></i>
    <div class="tittle-block">
      <p class="sub-tittle">Nombre:</p>
      <p class="sub-tittle">Carnet:</p>
      <p class="sub-tittle">DPI:</p>
    </div>
    <div class="info-block">
      <p class="con-info">Erick Daniel Morales Xicará</p>
      <p class="con-info">201930699</p>
      <p class="con-info">3134 21633 0901</p>

    </div>
    <div class="link-block">
      <a href="https://github.com/9601dani"><i class="uil uil-github uil-inf" href=""></i></a>
      <a href="https://linkedin.com/in/erick-daniel-m-b28762218"><i class="uil uil-linkedin uil-inf"></i></a>
    </div>
  </div>
  <div class="contributor">
    <i class="uil uil-user-square uil-usr"></i>
    <div class="tittle-block">
      <p class="sub-tittle">Nombre:</p>
      <p class="sub-tittle">Carnet:</p>
      <p class="sub-tittle">DPI:</p>
    </div>
    <div class="info-block">
      <p class="con-info">Leví Isaac Hernández Sapón</p>
      <p class="con-info">201930693</p>
      <p class="con-info">3146 39217 0901</p>

    </div>
    <div class="link-block">
      <a href="https://github.com/Isaac03483"><i class="uil uil-github uil-inf" href=""></i></a>
      <a href="https://linkedin.com/in/leví-hernández-71b4b6211/"><i class="uil uil-linkedin uil-inf"></i></a>
    </div>
</div>
