.contributor{
  margin: 30px 50px;
  display: inline-block;
}

.uil-usr{
  font-size: 6.5rem;
  display: inline-block;
  margin-left: 10px;
}

.tittle-block{
  display: inline-block;
  margin: 0 25px;
}

.sub-tittle{
  font-weight: bold;
  color: black;
  font-size: 1.2rem;
}

.info-block{
  display: inline-block;
  margin: 0 25px;
}

.con-info{
  font-size: 1.2rem;
}

.link-block{
  display: inline-block;
  margin: 25px;

}

.uil-inf{
  font-size: 5.5rem;
  margin: 0 25px;
  cursor: pointer;
  color: black;
}

p{
  margin: 2px 0;
}

