.input-tittle{
  display: inline-block;
  width: 60%;
  margin: 10px 25px;
  font-weight: bold;
}

.output-tittle{
  display: inline-block;
  width: 30%;
  margin: 10px 25px;
  font-weight: bold;
}

.code-container{
  width: 100%;

}

.input{
  display: inline-block;
  width: 60%;
  height: 600px;
  margin: 0 20px;
  background: white;
  border-radius: 24px;
}

.input-editor{
  display: block;
  width: 90%;
  height: 550px;
  margin: 25px auto;
}

.btn-analysis{
  float: right;
  margin: 25px 0;
  padding: 10px 45px;
}

.btn-out{
  float: right;
  margin: 25px 10px;
  padding: 10px 45px;
}

.output{
  float: right;
  display: inline-block;
  width: 35%;
  height: 600px;
  background: white;
  margin: 0 20px 0 0;
  border-radius: 24px;
}

.out-area{
  display: block;
  width: 95%;
  height: 90%;
  margin: 22px auto;
  border: none;
  background: white;
  font-size: 0.8rem;
  color: #495057;
  /*outline: none;*/
  resize: none;
}
